html, body {
    margin: 0;
    box-sizing: border-box;
    background: #f6f8f9;
    font-family: ProximaNova-Regular, sans-serif;
    color: #44525e;
}

.container {
    max-width: 1200px;
    margin: 0px auto;
}

.row {
    margin: 0 -1.25%;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

ul li {
    display: inline-block;
    text-decoration: none;
}

h2 {
    font-size: 72px;
}

h3 {
    font-size: 18px;
    color: #1cb88b;
}

a {
    text-decoration: none;
    font-size: 16px;
    text-decoration: none;
    color: #fff;
}

.section-header-white h2::after {
    content: "";
    height: 10px;
    background: #fff;
    display: block;
}

.section-header-dark h2::after {
    content: "";
    height: 10px;
    background: #363636;
    display: block;
}


.proxima-bold {
    font-family: ProximaNova-Bold, sans-serif;
}

.proxima-thin {
    font-family: ProximaNovaT-Thin, sans-serif;
    font-size: 14px;
}

.font-medium {
    font-size: 18px;
}

.font-aw {
    font-size: 36px;
}

.font-big {
    font-size: 72px;
}

.grey-theme {
    background: #666666;
    min-height: 350px;
}

.dark {
    color: #363636;
}

.white {
    color: #fff;
}

.mountain-color {
    color: #1cb88b;
}

.reverse-fa {
    transform: scale(-1, 1);
}

/* blocks */
.block-70 {
    width: 5.83%;
    margin: 0 1.25%;
    float: left;
}

.block-170 {
    width: 14.1666%;
    margin: 0 1.25%;
    float: left;
    /* min-height: 150px; */
}

.block-170-4 {
    width: 22.779%;
    margin: 0 1.25;
    float: left;
}

.block-270 {
    width: 22.5%;
    margin: 0 1.25;
    float: left;
}

.block-270-inside {
    width: 72.97%;
    margin-left: 27.3%;
    float: left;
}

.block-370 {
    width: 30.8333%;
    margin: 0 1.25%;
    float: left;
    /* min-height: 180px;   */
}

.block-370-50 {
    width: 47.5%;
    margin: 0 1.25%;
    float: left;
    min-height: 150px;  
}

.block-770 {
    width: 64.1666%;
    margin: 0 1.25%;
    float: left;
}

.block-870 {
    width: 72.5%;
    margin: 0 1.25%;
    float: left;
}

.block-1170 {
    width: 97.5%;
    margin: 0 1.25%;
    float: left;
}

/* heaer */
.site-header {
    height: 80px;
    background: #000;
}

/* logo */
.logo {
    display: inline;
    padding-top: 23px;
}

.logo a {
    font-size: 30px;
}

.logo a:hover {
    color: #ba4c07;

}

/* navigation */

nav ul {
    margin-top: 30px;
    margin-left: 60px;
}

nav ul li {
    padding-right: 36px;
}

nav a:hover {
    color: #ba4c07;
}
/* sign-up */
.sign-up button {
    float: right;
    width: 90px;
    background: transparent;
    font-size: 16px;
    margin-top: 16px;
    padding: 12px;
    border: 2px solid #1cb88b;
    border-radius: 14px;
    outline: none;
}

.sign-up button:hover {
    cursor: pointer;
    background: #1cb88b;
    color: #fff;
}

/* video-content */
.play-video {
    min-height: 820px;
    background: #666;
    color: #fff;
}

.wrapper {
    /* margin-top: 380px; */
    margin: 380px 0;
}

.text {
    margin: 36px 0 0 30px; 
}

.text span {
    display: block;
    font-size: 60px;
}

.play-video i {
    float: left;
    font-size: 150px;
}

.text {
    float: left;
}

/* our-services */
.our-services {
    min-height: 360px;
    background: #1cb88b;
}

.feature {
    margin-top: 50px;
}

.round {
    float: left;
    width: 100px;
    height: 100px;
    border: 2px solid #fff;
    border-radius: 50%;
    text-align: center;
    margin-right: 20px;
}

.feature i {
    padding-top: 32px;
    font-size: 36px;
}

.feature-descr h3 {
    padding-top: 5px;
}

/* tools */
.tools {
    text-align: center;
}

.tools-wrap {
    line-height: 5;
}

/* our-works */
.our-works {
    background: #ebebeb;
    min-height: 1325px;
}

.works-wrap a {
    color: #1cb88b;
}

.works-button {
    display: inline-block;
    width: 90px;
    text-align: center;
    font-size: 16px;
    margin-right: 10px;
    padding: 8px 0;
    border: 2px solid #1cb88b;
    border-radius: 14px;
}

.works-button.active {
    background: #1cb88b;
    color: #fff;
}

.works-button:hover {
    background: #1cb88b;
    color: #fff;
}

/*  our-works descr*/
.portfolio-descr {
    padding: 60px 0;
}


.our-projects {
    min-height: 370px;
    background: #ccc;
    text-align: center;
    position: relative;
    margin-bottom: 30px;
}

.project-descr {
    position: absolute;
    bottom:0;
    width: 100%;
    background: #fff;
    padding-bottom: 30px;
}

.project-descr .proxima-bold {
    font-size: 18px;
}

.plus {
    margin-left: 15px;
    cursor: pointer;
}

/* our-team */
.our-team-slider {
    min-height: 350px;
    background: #666666;
}

.slider {
    margin: 55px 218px;
}

.slider-team {
    text-align: center;
}

.dots {
    border-radius: 100%;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    display: inline-block;
}

.active {
    background: #fff;
}

/* our-team-descr */
.our-team {
    background: #fff;
    min-height: 916px;
}

.our-team-social {
    position: relative;
}

.worker {
    min-height: 410px;
    text-align: center;
    margin-bottom: 30px;
}

.avatar {
    float: left;
    width: 170px;
    height: 170px;
    border-radius: 100%;
    background: #ccc;
}

.social-network {
    position: absolute;
    margin: 58px 0 0 140px;
}

.social {
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: #1cb88b;
    font-size: 24px;
    margin-right: 10px;
    vertical-align: bottom
}

.social i {
    padding-top: 12px;
}

.left {
    text-align: left;
    padding-top: 38px;
}

/* our-achieve */
.achivement {
    text-align: center;
}

.achivement p {
    margin: 0;
}

.achivement i {
    padding-top: 85px;
}

/* our-skills */
.our-skills  {
    min-height: 840px;
    background: #fff;
}

/* .round-progress {
    width: 170px;
    height: 170px;
    border-radius: 100%;
    border:  10px solid #1cb88b;
    text-align: center;
} */

.round-progress span {
    line-height: 170px;
}

.our-skills .block-170 {
    position: relative;
}

.round-progress {
    /* Create the circle */
    width: 170px;
    height: 170px;
    border: 10px solid black;
    border-radius: 50%;
    /* Halve the circle */
    border-bottom-color: transparent;
    border-left-color: transparent;
    border-right-color: transparent;
    border-top-color: transparent;
    /* Rotate the circle */
    transform: rotate(-45deg);
  }





