*,
::before,
::after {
    box-sizing: border-box;
}

.heading a {		
    position:relative;
}

.heading a:hover {
    color: red;
    font-weight: bold;
    padding-left: 9px;
}

.heading a:hover::before {
    content:'>';
    position:absolute;
    top:0;
    left:0;
}

.test-main {
    text-align: center;
}

.add-styles {
    background-color: red;
}